Agri agent workflow.json
{
  "name": "Agricultural Info copy 11.3.26, 12:12",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "ac9d0486-f5ad-44e4-924e-ab900af6aa26",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QozDPAgxFhW7gI4a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are AgriExport AI, an intelligent agricultural export assistant.\n\nYour task is to help farmers and traders understand export requirements for four crops: wheat, rice, cotton, and mango.\n\nUse the provided knowledge base to generate accurate and practical answers. Always respond in a clear, professional, and concise way suitable for farmers. Always change wording and style for repeated questions.\n\nFormat responses using clean HTML for readability:\n<b>Title</b>\n<ul>\n<li>Key points</li>\n<li>Export requirements</li>\n<li>Market insights</li>\n</ul>\n\nKeep responses short (5–8 lines maximum).\nIf the information is not available in the knowledge base, politely say that the information is not currently available. Always prioritize information retrieved from the knowledge base over general AI knowledge.",
          "maxIterations": 2,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -400,
        400
      ],
      "id": "0fe2df75-129b-4565-a9c5-8e16143c8d19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        240
      ],
      "id": "8d804efa-f2d6-4d8c-b99e-8973b23988dd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        224
      ],
      "id": "6d820441-9dc3-46e5-b5d9-ce309973a56a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Zwb4N8Xa6z3V4u36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        624
      ],
      "id": "a59e1184-741f-417e-bd51-81d5ef8dfa5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zwb4N8Xa6z3V4u36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1PsZVoCT4bKvRSWwzM3ynWCV14My748Cc",
            "mode": "list",
            "cachedResultName": "RAG data",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1PsZVoCT4bKvRSWwzM3ynWCV14My748Cc"
          },
          "whatToSearch": "all"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        0
      ],
      "id": "211fc96c-4fc2-4012-acc0-a1bf3003d700",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrLRxADTSgUBQeU6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "da80c397-58eb-4fc3-922b-d803411cabc1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrLRxADTSgUBQeU6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        400
      ],
      "id": "c59c1b4a-d573-41a3-8fb2-b7fcc014b1af",
      "name": "Webhook",
      "webhookId": "9bfe2f90-a81f-46b6-9fbc-1d7df9dd09ff"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        480
      ],
      "id": "495e4faa-f551-4257-ae4d-42a32d9295c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        352,
        960
      ],
      "id": "1070fee0-9045-465a-9a05-c922b233d6b8",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "J9Wp6xwcoJ2imBtN",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['x-real-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -496,
        624
      ],
      "id": "2aed1183-bd5b-4809-99d2-5997cd4061ac",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jAC6Zdgu7R5cQBGY",
          "name": "Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool searches a vector database containing agricultural export knowledge and official documentation. It should be used to retrieve reliable information related to crop export requirements, international trade regulations, pesticide residue limits (MRLs), phytosanitary standards, export documentation, and major importing countries. The knowledge base currently includes information for crops such as wheat, rice, cotton, and mango. Use this tool whenever a user asks about exporting agricultural products, compliance requirements, market access conditions, or regulatory guidelines for international agricultural trade.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        32,
        736
      ],
      "id": "38ce8290-f996-4d0d-b8d9-8c52e858d0a3",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "QozDPAgxFhW7gI4a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512,
          "stripNewLines": true,
          "timeout": 30000,
          "encodingFormat": "float"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        848
      ],
      "id": "91be5a80-a23d-494b-ac61-2ecb24e6d105",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Zwb4N8Xa6z3V4u36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        448
      ],
      "id": "435668f7-369d-44dc-bfd0-6994122f586f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -16
      ],
      "id": "bea3826d-0b7c-4cc7-a73c-4cccf8a0d59a",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "20aa4482-3321-4274-b4e2-b007eb9de851",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47e596569e03ad72d3a3eb83e07a65cd9cad5f1baf128378ce93c7f2d627b332"
  },
  "id": "s6DjutijpjOWZmFE",
  "tags": []
}