AgriExport-AI-RAG.json
{
  "name": "Agricultural Info copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        0
      ],
      "id": "695cf346-3eb7-47ea-af9d-b381408f782e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 10,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        0
      ],
      "id": "df9532af-7bd5-474b-91aa-d51f60f7e8e0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QozDPAgxFhW7gI4a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }} ",
        "options": {
          "systemMessage": "You are an agricultural export expert helping farmers, traders, and exporters understand global crop export markets.\n\nYour job is to answer user questions using the retrieved knowledge base information whenever possible.\n\nRules:\n- Always prioritize information from the retrieved documents.\n- Summarize the context instead of copying text.\n- Do NOT include document IDs, paper titles, or technical codes.\n- If the retrieved context is not relevant, answer using general agricultural export knowledge.\n- Provide clear and practical insights useful for exporters.\n\nResponse formatting (use clean HTML):\n\n<b>Topic</b>\n<p>Brief explanation of the topic.</p>\n\n<b>Key Points</b>\n<ul>\n<li>Main insight</li>\n<li>Main insight</li>\n<li>Main insight</li>\n</ul>\n\n<b>Export Requirements / Market Insights</b>\n<ul>\n<li>Regulatory or quality requirements</li>\n<li>Major export markets</li>\n<li>Trade challenges or opportunities</li>\n</ul>\n\n<b>Summary</b>\n<p>Short concluding explanation.</p>\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -416,
        400
      ],
      "id": "fdc1625a-c297-429b-87b9-cbf1b03f4cb4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        224
      ],
      "id": "1d149ce6-f80f-475f-8335-b00ffa526dc8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "735b3a88-4dcf-4a2a-8e70-13cb5b64fe19",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Zwb4N8Xa6z3V4u36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -656,
        624
      ],
      "id": "bada3410-9c01-4ad2-8c74-29b26d67600b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zwb4N8Xa6z3V4u36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search and retrieve relevant agricultural information from the knowledge base",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 7,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -320,
        624
      ],
      "id": "c7dcd0cb-dc5f-493b-a8b3-7d1c905e38f3",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "QozDPAgxFhW7gI4a",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1PsZVoCT4bKvRSWwzM3ynWCV14My748Cc",
            "mode": "list",
            "cachedResultName": "RAG data",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1PsZVoCT4bKvRSWwzM3ynWCV14My748Cc"
          },
          "whatToSearch": "all"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        0
      ],
      "id": "bbb43f08-0230-420a-9ee3-0b786f99d9a5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrLRxADTSgUBQeU6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "b3bb7ad0-a32d-4e5a-aaa5-b7302d67dec5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "2557c9db-4385-4c63-827e-ee742933c206",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DrLRxADTSgUBQeU6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        400
      ],
      "id": "8e886cd7-005c-425e-8127-17b37b6b3fe8",
      "name": "Webhook",
      "webhookId": "29a0cc24-8ea1-4358-9250-a998b976766a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        400
      ],
      "id": "0c74d16c-ee57-4bac-8039-12c6d53d3391",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        -240,
        832
      ],
      "id": "bb1ce493-4554-48c6-b631-4fd4112fd97d",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "J9Wp6xwcoJ2imBtN",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['x-real-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -560,
        800
      ],
      "id": "9a0755f5-b736-46ce-b7ab-e3e9ae4a7aaf",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jAC6Zdgu7R5cQBGY",
          "name": "Postgres account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d239d0ac-7ba6-491b-988a-166d24f2dbd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47e596569e03ad72d3a3eb83e07a65cd9cad5f1baf128378ce93c7f2d627b332"
  },
  "id": "iS1bjrNOPsPk4kxe",
  "tags": []
}